.popupContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    color: #004643;
    max-width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    margin: auto;
    width: fit-content;
}

.confirmBtns {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.tooltip {
    position: relative;
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

.tooltipText {
    visibility: hidden;
    width: fit-content;
    max-width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 600px) {
    .popupContainer {
        padding: 0.5em;
    }

    .tooltipText {
        max-width: 200px;
    }

    .confirmBtns {
        flex-direction: column;
        gap: 0.5em;
    }
}