:root {
    --default-font: 'Roboto, sans-serif';
    --secondary-font: 'Koulen, sans-serif';
    --tertiary-font: 'Teko, sans-serif';
    --quaternary-font: 'Cormorant, serif';
    --primary-color: #22C55E;
    --secondary-color: #8b5e3c;
    --error-color: #e74c3c;
    --background-color:  rgb(209, 209, 210);
    --text-color: #333;
    --white-color: #f8f6f6;
  }
  
  body {
    font-family: var(--default-font);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--quaternary-font);
  }
  
  button {
    font-family: var(--default-font);
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: darken(var(--primary-color), 10%);
  }