.authPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #f7f9fc;
    padding: 2rem;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--default-font);
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 1em;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

button {
    background-color: #22C55E;
    color: #fff;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--primary-color);
    color: var(--white-color);
}

button:disabled {
    background-color: #cce5ff;
    cursor: not-allowed;
}

.error-message {
    color: #e63946;
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: center;
    color: var(--error-color);
}

input,
.MuiTextField-root {
    width: 100%;
}

.switchFormType {
    background: none;
    color: #22C55E;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    text-decoration: underline;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}